.User {
    display: inline-block;       /* Display inline block */
    text-align: center;          /* For button text center */
    position: absolute;          /* Position absolute */
    top: 80%;
    left: 50%;
    transform: translateX(-50%);
}

.User .User-play {
    position: absolute;
    left: -15px;
    display: flex;
}


.spinning {
    animation: start-spinning 8s linear infinite;
}

@keyframes start-spinning {
    to {
      transform: rotate(360deg);
    }
}

.User-icon-pic {
    height: 150px;
    width: 150px;
    position: relative;
    overflow: hidden;
    border-radius: 50%;
    box-shadow: 0px 0px 10px 2px rgba(0,0,0,0.72);
    cursor: pointer;
}

.User-icon-pic img {
    height: inherit;
    width: inherit;
    border-radius: 50%;
}

.User-popover-content:hover {
    background-color: aqua;
    border-radius: 5%;
    cursor: pointer;
}

.User-popover-content{
    display: flex;
    align-items: center;
}
